@import '../../../../sass/tapAnimation';

// media query
$breakpoint-mobileXS: 320px;
$breakpoint-mobileS: 375px;
$breakpoint-mobileM: 420px;
$breakpoint-mobileL: 600px;
$breakpoint-tablet: 640px;
$breakpoint-laptop: 1024px;
$breakpoint-laptopL: 1440px;
$breakpoint-laptopXL: 2560px;

.bkg{
  min-height: 100vh;
  background-size: cover;
}

#keyboard{
  background-image: url('../../../assets/piano_rosa.png');
  position: relative;
  background-size: cover;
}

#teclas{
  position: relative;
}

.blacks{
  background-color: mediumpurple;
  text-align: center;
  color: white;
  z-index: 1;
  position: relative;
}

.blacks:hover{
  background-color: #CCCCFF ; 
}

.blacks:hover .letras_negras {
  color: black;
}

.letras_negras{
  position: relative;
  // top: 45px;
}

.whites{
  border-left: 2px solid cornflowerblue;
  background-color: aliceblue;
  color: blueviolet;
  z-index: 0;
  position: relative;
  text-align: center;
}

.whites:hover{
  background-color: #FFCCFF;
  color: #003399;
}

.whites:hover .letras_blancas{
  text-shadow: 0px 0px 15px #508AD3;
}

.letras_blancas{
  position: relative;
  // top: 158px;
  font-weight: bold;
}

@media only screen and (min-width: $breakpoint-mobileXS) {
  .bkg{
    background-image: url('../../../assets/bkg_mobile1.png');
  }

  #keyboard{
    top: 145px;
    height: 10em;
    min-width: 320px;
  }

  #teclas{
    position: absolute;
    top: 55px;
    left: 65px;
    width: 225px;
  }

  .whites{
    top: -44px;
    min-height: 100px;
    min-width: 9%;
  }
  .blacks{
    width: 8%;
    margin-left: 6%;
    min-height: 45px;
  }
  .letras_blancas{
    top: 65px;
    font-size: x-small;
  }
  .letras_negras{
    top: 20px;
    font-size: xx-small;
  }

  .notas{
    visibility: hidden;
  }

}

@media only screen and (min-width: $breakpoint-mobileS) {
  #teclas{
    width: 244px;
  }

}

@media only screen and (min-width: $breakpoint-mobileM) {
  .bkg{
    background-image: url('../../../assets/bkg_mobile1.png');
  }

  #keyboard{
    height: 11em; 
  }

  #teclas{
    position: absolute;
    top: 66px;
    left: 65px;
    width: 294px;
  }

  // .whites{
  //   top: -66px;
  //   width: 30px;
  //   height: 140px;
  // }
  // .blacks{
  //   margin-left: 19px;
  //   width: 22px;
  //   height: 69px;
  // }
  // .letras_blancas{
  //   top: 109px;
  //   font-size: smaller;
  // }
  // .letras_negras{
  //   top: 44px;
  //   font-size: small;
  // }
  
}

@media only screen and (min-width: $breakpoint-tablet) {
  .bkg{
    background-image: url('../../../assets/tablet_bkg.png');
    background-size: contain;
    min-height: 360px;
  }
  #keyboard{
    top: 105px;
    height: 12em;
    min-width: 396px;
  }

  // #teclas{
  //   top: 66px;
  //   left: 54px;
  // }

  .whites{
    top: -53px;
    min-height: 121px;
  }
  
  .blacks{
    margin-left: 5.6%;
    min-height: 55px;
  }
  .letras_blancas{
    top: 72px;
    font-size: small;
  }
  .letras_negras{
    top: 10px;
    font-size: small;
  }
}

@media only screen and (min-width: $breakpoint-laptop) {
  .bkg{
    background-image: url('../../../assets/background.png');
    background-size: cover;
    min-height: 555px;
  }

  #keyboard{
    top: 150px;
    height: 13em;
  }

  #teclas{
    top: 76px;
    left: 78px;
    width: 350px;
  }

  .notas{
    visibility: visible;
  }

}

@media only screen and (min-width: $breakpoint-laptopL) {
  .bkg{
    background-image: url('../../../assets/background.png');
  }

  #keyboard{
    height: 18em;
  }

  #teclas{
    top: 93px;
    left: 93px;
    width: 413px;
  }

  .whites{
    top: -76px;
    min-height: 190px;
    min-width: 9.2%;
  }

  .notas{
    visibility: visible;
  }

  .letras_blancas{
    top: 125px;
    font-size: large;
  }

  .blacks{
    margin-left: 5.4%;
    min-height: 78px;
  }

  .letras_negras{
    top: 21px;
    font-size: medium;
  }
}

